Django
opencv-python
numpy
pyttsx3
imutils
dlib
scipy
folium
requests
CMake
pandas
matplotlib
scikit-learn
tensorflow  # or replace with torch for PyTorch
Flask
pytest
beautifulsoup4
Pillow
python-dotenv
fastapi
